footer{
    background-color:#e4e3e3;
    color:rgb(52, 50, 50);
    margin-top: 10vw;
    padding: 2rem;
}
.footer-container{
    display: grid;
}
.footer-about,
.footer-links,
.footer-newsletter,
.footer-social {
    flex: 1 1 300px;
    margin: 20px;
}
.footer-logo {
    width: 150px;
}
.footer-description {
    margin: 20px 0;
}
.footer-contact p {
    margin: 5px 0;
}
.footer-contact a{
    color: #64485C;
}
.footer-links h4,
.footer-newsletter h4,
.footer-social h4 {
    margin-bottom: 15px;
    font-size: 20px;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    margin: 8px 0;
    cursor: pointer;
    color: #64485C;
}
.footer-links ul li a {
    color: #64485C;
    text-decoration: none;
}

.footer-newsletter input[type="email"] {
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    width: 80%;
}
.footer-newsletter button {
    padding: 10px 15px;
    background-color: #64485C;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.footer-social-links {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.footer-social-links a{
    color: #501B1D;
}
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #555;
    padding-top: 20px;
}
.footer-bottom a {
    color: #64485C;
    text-decoration: none;
    margin: 0 10px;
}
.footer-bottom p, .footer-bottom a{
    font-size: 0.9rem;
}

@media screen and (min-width: 760px) {
.footer-container {
    grid-template-columns: 1fr 1fr;
}
.footer-links {
    margin-top: 7rem;
}
.footer-newsletter {
    width: 300px;
}
.footer-newsletter,
.footer-social {
    margin-top: 50px;
}
.footer-links,
.footer-social {
    margin-left: 9vw;
}
}

@media screen and (min-width: 990px) {
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-newsletter h4,
.footer-social h4,
.footer-links h4 {
    font-size: 1.6vw;
}
.footer-about p,
.footer-links li,
.footer-newsletter p {
    font-size: 1.3vw;
}
.footer-links,
.footer-newsletter {
    margin-top: 7rem;
}
.footer-social {
    margin-left: 20px;
}
}

@media screen and (min-width: 1200px) {
.footer-bottom p, .footer-bottom a {
    font-size: 1.1vw;
}
}

@media screen and (min-width: 1600px) {
.footer-logo {
    width: 170px;
}
.footer-newsletter {
    position: relative;
    width: 400px;
    width: 20vw;
}
.footer-newsletter input[type="email"] {
    padding: 15px;
    font-size: 1vw;
}
.footer-newsletter button {
    padding: 10px 15px;
    font-size: 1.4vw;
}
.footer-social-links {
    font-size: 1.6vw;
}
}

@media screen and (max-width: 1000px) {
footer {
    margin-top: 100px;
}
}

@media screen and (max-width: 760px) {
.footer-logo {
    width: 100px;
}
.footer-newsletter {
    width: 300px;
}
.footer-social-links {
    width: 300px;
    font-size: 22px;
}
.footer-links,
.footer-newsletter,
.footer-social {
    padding-top: 2rem;
}
}

@media screen and (max-width: 500px) {
.footer-social-links {
    font-size: 20px;
}
.footer-social-links,
.footer-newsletter {
    width: 90%;
}
.footer-about,
.footer-links,
.footer-newsletter,
.footer-social {
    margin: 0px;
}
.footer-newsletter button {
    padding: 8px 10px;
    width: 100px;
    font-size: 1rem;
}
.footer-bottom p, .footer-bottom a {
    font-size: 0.8rem;
}
}