
nav{
    font-family: "Nunito Sans", sans-serif;
    font-weight:400;
    font-style: none;
    text-transform: uppercase;
    padding: 2vw;
}
.nav-container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header img{
    width:6rem;
    object-fit: contain;
}
.header-links{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 250px;
    color: black;
}
.nav-links a{
    color: rgb(29, 26, 26);
}
.social-links {
    display: flex;
    justify-content: space-between;
    width: 120px;
    font-size: 18px;
}
.social-links a{
    color: #501B1D;
}
.name1{
    font-size: 20px;
    background: linear-gradient(to right,  #8d7486, #501B1D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: 900;
}
.name2{
    background: linear-gradient(to right, #83677B, #64485C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10px;
    display: block;
    padding-left: 70px;
}
.nav-header button{
    display: none;
}


@media screen and (max-width: 990px) {
.header-links {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    text-align: center;
    padding-top: 80px;
    transition: 0.8s ease;
    background-color: rgb(225, 210, 210);
    z-index: 9;
}
.nav-header img{
    width:5rem;
    object-fit: contain;
}
.nav-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    width: 250px;
}
.nav-link{
padding: 1rem 0 2rem 0;
}
.social-links{
    display: flex;
    width: 60vw;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 20px;  
}
.header-links {
    display: none; 
    transition: all 0.3s ease;
}
.header-links.show {
    display: block;
    left: 0; 
}
.nav-header button{
    display: flex; 
    margin: 0; 
    padding: 1vw;
} 
.nav-header {
    margin-top: 10px ;
    width: 100%;
    display: flex;
    /* align-items: center;
    align-content: center; */
    justify-content: space-between;
    z-index: 999;
}
}
@media screen and (max-width: 500px){
.nav-header img{
    width:4rem;
}
.nav-header{
    /* border:red solid ; */
}
}
@media screen and (min-width: 1200px){
    .nav-links{
    width: 300px;
    font-size: 20px;
}
.social-links{
    width: 170px;
    font-size: 20px;
}
}
@media screen and (min-width: 1600px){
    .nav-links{
    width: 400px;
    font-size: 22px;
}
.social-links{
    width: 200px;
    font-size: 20px;
}
}