.form-section {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
}
.form-container{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
}
.form-section .form-group label{
    display: block;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    color: #555;
}
#request{
    width: 100%;
    height: 80px;
}
.form-group input,
.form-group input {
    padding: 0.5rem;
}
.form-input input, textarea{
    width: 30rem;
    padding: 0.5rem;
}
.date-option select{
 font-size: 16px;
 /* border: red solid; */
}

@media(min-width: 1200px){
.form-section .form-group label{
    margin-bottom: 0.3vw;
    font-size: 1.4vw;
    color: #555;
}
.form-section input{
    padding: 0.7vw;
}
.form-input input, textarea{
    width: 30rem;
    height: 8vw !important;
}
.date-option select{
 font-size: 1.3vw;
 /* border: red solid; */
}
}
@media (min-width: 1600px){
.form-container {
    max-width: 600px;
}
}
@media (max-width: 500px){
.date-option select{
    font-size: 14px;
}
}
