.review-container {
    width: 90vw;
    margin: 0 auto;
    padding:2vw 6rem ;
}
.review-container :not(:first-child){
    font-family: 'Arial', sans-serif;
}
.review-container h1{
    text-align: center;
    margin-bottom: 2vw;  
}
.review-container h3{
    margin-top: 1rem;  
}
.review-container .title{
    font-size: 2rem;
}
.review-container .desc{
    text-align: center;
    margin-bottom: 1.5rem;
}
.review-container .alert{
    display: none;
    color: red;
}
.review-container .show{
    display: block;
}
.review-container .google-reviews p{
    margin-bottom: 1.5rem;
}
.review-container .line {
    border-top: 1px solid black;
    margin-bottom: 1rem;
}
.review-container .write-review{
    width: 250px;
    height: fit-content;  
    font-size: 17px;  
    padding: 0.5rem;
}
.review-form button{
    border-radius: 5px;
    padding: 0.5rem;
}
.review-container .star-rev{
    display: flex;
    justify-content: space-between;
    padding: 0 4vw 0 4vw;
}
.review-container .stats p{
    font-weight: bold;
    color: black;
}
.review-inputs .red{
    color: red; 
}
.review-container .spans{
    display: flex;
    margin-top: 1rem;
}
.review-inputs .span-stur{
    display: flex;
    align-items: center;
    align-content: center;
}
.star{
    position: relative;
    top: 10px;
    font-size: 25px;
}
.star-rev{
    font-size: 1.2rem;
}
.review-container .stars{
    display: flex;
}
.review-container .stars span{
    font-size: 20px;
}
.review-container .review-title
{
    width: 50vw;
}
.review-container .review-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-container .inputs{
    display: flex;
    gap: 1rem;
}
.review-container .rev-input{
    font-size: 17px;
}
.review-container textarea{
    width: 50vw;
    border: 1px solid #ccc;
    height: 100px;
}
.review-container .inputs input{
    width: 24.3vw;
}
.review-container .post{
display: flex;
justify-content: end;
}
.review-container .review-inputs{
    font-size: 17px;
}
.stur{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.reviews{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.review {
    margin-bottom: 2rem;
    background:rgb(245, 244.9, 244.9);
    padding: 20px;
    border-radius: 20px;
}
.review:first-child{
    margin-top: 4rem;
}
.main-review{
    color: rgb(126, 121, 121);
}
.render-review{
    font-size: 1.2rem;
    margin-top: 1rem;
    word-wrap: break-word;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    background-color: #1d1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center ;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.name-date{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: baseline;
}
.name-avatar{
    display: flex;
    align-items: center;
    align-content: baseline;
    gap: 10px;
}
.arrow-right, .arrow-left{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
    font-size: 17px;
    margin-top: -9px;
}
.arrow-right{
    float: right;
}
.arrow-left{
    float: left;
}
.render-review .more-review{
    font-size: 16px;
    font-weight: bolder;
    color: #1d1c1c;
    cursor: pointer;
}

@media screen and (min-width: 1200px ){
.star{
    font-size: 2vw;
}
.main-review{
    width: 50vw;
}
.review-container .write-review{
    font-size: 1.3vw;
    width: 16vw;
}
.review-container .review-inputs{
    font-size: 1.5vw !important;
}
.review-container input{
    padding: 0.7vw;
}
.review-container textarea{
    height: 10vw;
}
.review-form button{
    font-size: 1.3vw;
    width: 10vw;
}
.review {
    padding: 2vw;
}
.user-avatar {
    width: 3vw;
    height: 3vw;
    font-size: 1.6vw;
}
.render-review {
    font-size: 1.6vw;
}
.render-review p{
    font-size: 1.3vw
}
.more-review{
    font-size: 1.2vw !important;
}
.arrow-right, .arrow-left{
    gap: 0.5vw;
    padding: 0.5vw;
    font-size: 1.3vw;
}
}

@media screen and (max-width: 990px ) {
.review-container {
    padding: 0;
    margin-top: 4rem;
}
.review-container .stats{
    margin-right: 20vw;
}
.review-container .stats p{
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.review-container .write-review{ 
    font-size: 16px; 
    width: 300px;
}
.review-form button{
    font-size: 1rem; 
}
.review-container .inputs{
    display: block;
    gap: 1rem;
}
.review-container .inputs input,
.review-form .review-title,
.review-form textarea{
    width: 60vw;
}
}

@media screen and (max-width: 500px) {
.review-container h1{
    margin-bottom: 1rem; 
    margin-top: -25px; 
}
.review-container .google-reviews p{
    font-size: 1rem;
}
.review-container .inputs input,
.review-form .review-title,
.review-form textarea{
    width: 70vw;
}
.review-inputs .spans{
    font-size: 1rem;
    margin-top: 1rem;
}
.review-container .star-rev{
    display: block;
}
.review-container .write-review{ 
    margin-left: 35vw;  
    width: 140px !important;
}
.review-container .write-review,
.review-form button{
    padding: 0.3rem ;
}
.user-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
}
.name-date{
    display: block;
}
.review-container .desc{
    font-size: 1rem;    
}
.reviews{
    width: 99%;
}
.main-review{
    width: 100%;
}
.arrow-right, .arrow-left{
    font-size: 16px;
}
}