* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
p {
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}

@media (max-width: 768px) {
p{
    line-height: 1.4;
}
}